<section style="background-color: #7dd1f5;">

    <div class="container py-5">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <!--aca empieza la carta-->
                <div class="card" style="color: #11141b; border-radius: 35px;">

                    <div class="card-body ">

                        <div class="text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"class="card-img-top">
                        </div>

                            <div class="mb-3">
                                <label ><h6>ingrese la ciudad</h6></label>
                                <input [(ngModel)]="ciudad" type="text" class="form-control mt-3"
                                    placeholder="ingrese la ciudad">
                            </div>

                            <div>
                                <button (click)="mostrarClima()" class="btn btn-primary btn-lg mt-3">buscar</button>


                            <div>
                        <p class="card-text"><h5>Temperatura: {{Temperatura}} °C</h5> 
                        </div>
                        <div>
                            <p class="card-text"><h5>Humedad: {{Humedad}} </h5>  

                        </div>
                        <div>
                            <p class="card-text"><h5>Temperatura_max: {{Temperatura_Max}} </h5>  

                        </div>
                        </div>
                    </div>
                    <!--aca termina-->

                </div>
            </div>
        </div>
    </div>
</section>